openapi: 3.0.2
info:
    title: Kerli pangaAPI
    version: 1.0.0
servers:
    -
        url: 'https://kerliarendab.xyz'
        description: Production server
    -
        url: 'http://localhost:8080'
        description: Local development server
paths:
    /users:
        summary: User related operations
        post:
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/postUsersRequest'
                required: true
            tags:
                - users
            responses:
                '201':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/postUsersResponse'
                    description: User has been created
                '400':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'
                    description: 'Missing name, username or password'
            summary: Registers a new user
    /sessions:
        summary: Logging users in and out
        post:
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/postSessionsRequest'
                required: true
            tags:
                - sessions
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/postSessionsResponse'
                    description: Session token has been created
                '400':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'
                    description: Missing username or password
                '401':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'
                    description: User does not exist or Wrong password
            summary: Create new session token for user (login)
        delete:
            tags:
                - sessions
            responses:
                '204':
                    description: Session token has been deleted
                '401':
                    description: Unauthorized
            security:
                -
                    Authorization: []
            summary: Delete session token (log out)
components:
    schemas:
        postUsersRequest:
            title: POST /users request
            description: ''
            required:
                - name
                - username
                - password
            type: object
            properties:
                name:
                    description: Users full name
                    type: string
                username:
                    description: Username
                    type: string
                password:
                    description: Password
                    type: string
            example:
                name: Mari Maasikas
                username: Mari37
                password: mariparool
        postUsersResponse:
            title: POST /users response
            description: User has been created
            type: object
            example:
                accounts:
                    -
                        name: Main
                        balance: 10000
                        currency: EUR
                        number: ETC2837b9f5
                        id: 5f78daea8115366e94a72349
                name: Mari Maasikas
                username: Mari37
                password: $2b$10$p/974Tq.4J77wooMv4dsIenhBVZjOn84baS1mXoSV.ND28DlFGuvS
                id: 5f78daea8115366e94a72348
        errorResponse:
            title: a generic error response
            description: Generic error response
            type: object
            properties:
                error:
                    type: string
            example:
                error: Error message
        postSessionsRequest:
            title: POST /sessions request
            description: ''
            type: object
            properties:
                username:
                    type: string
                password:
                    type: string
            example:
                username: Juku123
                password: minuparool
        postSessionsResponse:
            title: POST /sessions response
            description: Session has been created
            required: []
            type: object
            properties:
                user:
                    type: object
                    properties:
                        _id:
                            type: string
                        name:
                            type: string
                        username:
                            type: string
                        password:
                            type: string
                        sessions:
                            type: array
                            items:
                                type: object
                                properties:
                                    _id:
                                        type: string
                                    token:
                                        type: string
                        __v:
                            format: int32
                            type: integer
            example:
                user:
                    _id: 5f722d1ddaadbd5aa0d8ca26
                    name: uus
                    username: uus
                    password: $2a$08$MENfm2v4A1M8fWKd7ExyFu2QCTLfvWLG0XMA/CXwmYyaHdaMFu.Iq
                    sessions:
                        -
                            _id: 5f722d2adaadbd5aa0d8ca27
                            token: >-
                                eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI1ZjcyMmQxZGRhYWRiZDVhYTBkOGNhMjYiLCJpYXQiOjE2MDEzMTgxODZ9.HABqtzBwtnVxnIoI16ZTNpgklX72-dYHALTL2GDHy58
                    __v: 1
        deleteSessionsRequest:
            title: DELETE /sessions request
            description: ''
            type: object
            properties:
                Authorization:
                    type: string
            example:
                Authorization: >-
                    eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI1ZjcyMmQxZGRhYWRiZDVhYTBkOGNhMjYiLCJpYXQiOjE2MDEzMTgxODZ9.HABqtzBwtnVxnIoI16ZTNpgklX72-dYHALTL2GDHy58
    securitySchemes:
        Authorization:
            scheme: bearer
            type: http
